
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 
}

body {
  font-family: 'Pretendard', -apple-system, BlinkMacSystemFont, system-ui,
    Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo',
    'Noto Sans KR', 'Malgun Gothic', sans-serif;
  color: #333;
}


header {
  /* position: fixed;
  top: 0;
  left: 0; */
  width: 100%;
  height: 84px;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  z-index: 100;
  transition: height 0.3s ease, background-color 0.3s ease;
}

header:hover {
  height: 250px;
  background-color: rgba(32, 32, 32, 0.74);
}

header.scrolled {
  background-color: #111111e1;

}

header .logo img {
  height: 29.5px;
  position: relative;
  margin-top: 20px;
  margin-left: 140px;
}

header nav {
  flex: 1;
}

header .main-menu {
  margin-left: -170px;
  margin-top: 20px;
  position: relative;
  font-size: 18px;
}

header ul.main-menu {
  display: flex;
  justify-content: center;
  gap: 90px;
  list-style: none;
  color: #fff;
  font-size: 21px;
  position: relative;
  top: 0;
}

header .logo img,
header ul.main-menu,
.submenu-container ul {
  position: relative;
  top: 0;
}

header:hover .logo img {
  top: -65px;
}

header:hover ul.main-menu {
  top: -65px;
}

header:hover .submenu-container ul {
  top: -20px;
}



.menu-item {
  position: relative;



}


#line-company {
  position: absolute;
  bottom: 0;
  left: -35px;
  top: 40px;
  width: 160px;
  height: 2px;
  background-color: #008E43;
  opacity: 0;
  transition: opacity 0.3s, width 0.3s, left 0.3s;

}

.menu-item:hover #line-company {
  opacity: 1;

}



#line-business {
  position: absolute;

  bottom: 0;
  left: -38px;
  top: 40px;
  width: 160px;
  height: 2px;
  background-color: #008E43;
  opacity: 0;
  transition: opacity 0.3s, width 0.3s, left 0.3s;
}

.menu-item:hover #line-business {
  opacity: 1;

}



#line-culture {
  position: absolute;

  bottom: 0;
  left: -40px;
  top: 40px;
  width: 160px;

  height: 2px;
  background-color: #008E43;
  opacity: 0;
  transition: opacity 0.3s, width 0.3s, left 0.3s;
}

.menu-item:hover #line-culture {
  opacity: 1;

}


#line-sustain {
  position: absolute;
  bottom: 0;
  left: -42px;
  top: 40px;
  width: 160px;
  height: 2px;
  background-color: #008E43;
  opacity: 0;
  transition: opacity 0.3s, width 0.3s, left 0.3s;
}

.menu-item:hover #line-sustain {
  opacity: 1;

}

#line-media {
  position: absolute;
  bottom: 0;
  left: -45px;
  top: 40px;
  width: 160px;
  height: 2px;
  background-color: #008E43;
  opacity: 0;
  transition: opacity 0.3s, width 0.3s, left 0.3s;
}

.menu-item:hover #line-media {
  opacity: 1;

}


#line-support {
  position: absolute;
  bottom: 0;
  left: -28px;
  top: 40px;
  width: 160px;
  height: 2px;
  background-color: #008E43;
  opacity: 0;
  transition: opacity 0.3s, width 0.3s, left 0.3s;
}

.menu-item:hover #line-support {
  opacity: 1;

}


.kor-menu {
  position: relative;
  cursor: pointer;
  left: 150px;
  font-size: 16px;
  top: 3px;
}


.kor-menu .arrow {
  display: inline-block;
  margin-left: 5px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #fff;
  vertical-align: middle;
  transition: transform 0.3s;
}


.kor-dropdown {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #fff;
  border-radius: 0px;

  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  min-width: 100px;
  z-index: 10;
}

.kor-dropdown ul {
  list-style: none;
  margin: 0;
  padding: 5px 0;
}

.kor-dropdown li {
  padding: 8px 16px;
  cursor: pointer;
  color: #000;
  font-weight: 500;
}

.kor-dropdown li:hover {
  background-color: #f0f0f0;
}


.kor-menu.active .kor-dropdown {
  display: block;
}

.kor-menu.active .arrow {
  transform: rotate(180deg);

}


.menu-item .hover-line {
  position: absolute;
  bottom: -17px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 2px;

  transition: width 0.3s ease;
}

.menu-item:hover .hover-line {
  width: 160px;

}

header::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #6d6c6c3f;
}

header:hover::after {
  bottom: 150px;
}


.submenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: transparent;
  padding: 20px 0;
  list-style: none;
  min-width: 200px;
  font-size: 18px;
  width: 150px;
  height: 150px;
}

.menu-item:hover>.submenu {
  display: block;
}

.submenu li {
  padding: 8px 20px;
  color: #fff;
  white-space: nowrap;
  transition: color 0.3s ease;
  background: transparent;
  line-height: 30px;
  left: -40px;
  position: relative;
  font-size: 16px;
  margin-bottom: -10px;
}

.submenu li:hover {
  color: #008E43;
}

.menu-item {
  position: relative;

}


.submenu-container {
  position: absolute;
  top: 84px;
  left: 0;
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: flex-start;
  pointer-events: none;
  position: relative;
}

.submenu-lines {
  position: absolute;
  top: 16px;
  left: -35px;
  height: 100%;
  pointer-events: none;
}

.submenu-line {
  position: absolute;
  top: 0;
  width: 1px;
  height: 100%;
  background-color: #ccc;

}

.submenu-column {
  list-style: none;
  padding: 0 20px;
  margin: 0;
  pointer-events: auto;

}

.submenu-line {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 1px;
  background-color: rgba(255, 255, 255, 0.78);
  pointer-events: none;
}

header:hover>.submenu-container {
  height: 200px;
}


.submenu-container ul {
  display: flex;
  justify-content: flex-start;
  gap: 0;
  list-style: none;
  padding: 5px 0;
  margin: 0;
  position: relative;
}



.submenu-container li {
  width: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  position: relative;

  box-sizing: border-box;
}

.submenu-container li:last-child {
  border-right: none;

}


.menu-item>.submenu-container {
  display: flex;
  position: absolute;
  top: 84px;
  left: 0;
  width: 100%;
  height: 150px;
  pointer-events: none;
}

.menu-item>.submenu-container .submenu-column {
  display: flex;
  flex-direction: column;
  margin: 0 20px;
  padding: 0;
  pointer-events: auto;
}


.media-menu {
  margin-left: -20px;

}



.submenu-container li:not(:last-child)::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 1px;
  background-color: #fff;
  left: calc(100% / 7);

}


.submenu-container li:hover {
  color: #f0f0f0;
}




.submenu li:hover {
  color: #008E43;
  background: transparent;

}

header:hover .submenu {
  display: block;
}


.main-visual {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.main-visual .slide::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 0;
  pointer-events: none;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  opacity: 0;
  transition: opacity 1s;
}

.slide.active {
  opacity: 1;
}

.visual-text {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: #fff;
}

.visual-text h1 {
  font-size: 70px;
}

.visual-text p {
  font-size: 22px;
  font-weight: 500;
  margin-top: 30px;
}


.numbers {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-top: 330px;
}

.number-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  font-size: 18px;
  font-weight: 300;
  width: 150px;
  color: #ccc;
}

.number-item::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: gray;
  border-radius: 2px;
  z-index: 1;
}


.number-item .line {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: white;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 3s linear;
  z-index: 2;
  margin-top: 10px;
  position: relative;
}

@keyframes lineFill {
  from {
    width: 0;
  }

  to {
    width: 125px;
  }
}


.redefine {
  position: relative;
  text-align: center;
  padding: 100px 20px;
  transition: background-color 0.5s ease;
}




.redefine .brand.white-text {
  background: none !important;
  -webkit-background-clip: initial !important;
  -webkit-text-fill-color: #fff !important;
}

.redefine h2 {
  font-size: 42px;
  font-weight: 700;
  margin-bottom: 24px;
  color: #000;
}

.redefine .desc {
  font-size: 24px;
  line-height: 34px;
  margin-bottom: 50px;
}

.redefine .brand {
  font-size: 190px;
  font-weight: bold;
  background: url('../img/text_to_img1.jpg') no-repeat center/cover;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  z-index: 1;
  display: inline-block;
}

.redefine .brand::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--after-img, url('../img/text_to_img1.jpg')) no-repeat center/cover;
  background-size: cover;
  opacity: 0;
  z-index: 2;
  pointer-events: none;
  border-radius: 20px;
}

.animate-after::after {
  animation: overlayFade 2s forwards 0s;
}

@keyframes overlayFade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}


.redefine .buttons button {
  width: 170px;
  height: 58px;
  font-size: 22px;
  margin: 10px;
  font-weight: bold;
  background: transparent;
  border: 1.5px solid #000;
  color: #000;
  cursor: pointer;
  border-radius: 30px;
  position: relative;
  top: 50px;
}

.redefine .sub {
  margin-bottom: 50px;
  font-size: 18px;
  line-height: 26px;
  top: 80px;
  position: relative;
}

.redefine .content {
  position: relative;
  text-align: center;
}

.btn-disabled {
  display: inline-block;
  font-size: 24px;
  color: #181818;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 4px;
  padding-top: 70px;
  cursor: default;
  font-weight: 600;
  position: relative;
}

.redefine .p {
  margin-bottom: 30px;
}

.redefine a {
  font-size: 24px;
  display: block;
  margin-top: 10px;
}


.banner {
  position: relative;
  width: 100%;
  height: 540px;
  margin-top: 30px;

}

.banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
}

.banner-text h2 {
  font-size: 42px;
  color: #ccc;
}

.banner-text button {
  margin-top: 20px;
  width: 210px;
  height: 40px;
  font-size: 18px;
  cursor: pointer;
  background: transparent;
  border: 2px solid #fff;
  border-radius: 30px;
  color: #fff;
  position: relative;
  top: 50px;
}


.news {
  padding: 100px 80px;
  position: relative;
}

.news h2,
.news h3 {
  position: relative;
  right: -160px;
  color: #181818;
  position: relative;
  top: 10px;

}

.news h2 {
  font-size: 26px;
  font-weight: 500;
  margin-bottom: 8px;
  position: relative;
  margin-left: -1680px;
}

.news h3 {
  font-size: 42px;
  font-weight: 700;
  margin-bottom: 40px;
  margin-left: -1600px;
}

.news-items {
  display: flex;
  gap: 40px;
  justify-content: center;
}

.news-items .item {
  width: 450px;
}

.news-items img {
  width: 450px;
  height: 350px;
  object-fit: cover;
  border-radius: 20px;
}

.news-items p {
  margin-top: 10px;
  font-size: 16px;
  text-align: center;
}

.news-button button {
  font-size: 18px;
  padding: 10px 20px;
  position: relative;
  background: transparent;
  border: 2px solid #000;
  border-radius: 30px;
  color: #000;
  top: -470px;
  left: 620px;



}

.news-button button:hover {
  background-color: #000;
  color: #fff;
}


.youtube {
  padding: 100px 80px;
  margin-top: -80px;
}

.youtube h2 {
  font-size: 26px;
  font-weight: 500;
  text-align: left;
  margin-left: 130px;
  top: 20px;
  position: relative;
  color: #000;
}

.youtube-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.youtube h3 {
  font-size: 50px;
  color: #000;
  margin: 0;
  text-align: left;
  margin-left: 130px;
}

.youtube button {
  font-size: 18px;
  padding: 10px 20px;
  cursor: pointer;
  background: transparent;
  border: 2px solid #000;
  border-radius: 30px;
  color: #000;
  margin-right: 150px;
}

.youtube button:hover {
  background-color: #000;
  color: #fff;
}


.videos {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
}

.main-video img {
  width: 600px;
  height: 480px;
  object-fit: cover;
  border-radius: 20px;
}

.sub-videos {
  display: grid;
  grid-template-columns: repeat(2, 390px);
  gap: 20px;
  justify-content: center;
}

.sub-videos img {
  width: 390px;
  height: 230px;
  object-fit: cover;
  border-radius: 20px;
}



.image-banner {
  position: relative;
  width: 100%;
  height: 540px;
  margin-top: 30px;

}

.image-banner img {
  width: 1920px;
  height: 530px;

}

.image-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
}

.image-text h2 {
  font-size: 42px;
  color: #ffffff;
}


.founder {
  position: relative;
  width: 1440px;
  height: 280px;
  background-color: #f0f0f0;
  margin: 0 auto;
  border-radius: 20px;
  margin-bottom: 130px;
}



.founder-slide {
  display: none;
  width: 100%;
  height: 100%;
  position: relative;
}

.founder-slide.active {
  display: block;

}

.founder-slide img {
  width: 440px;
  height: auto;
  max-height: 375px;
  object-fit: contain;
  margin-right: 1000px;
  margin-top: -33px;
}




.founder-slide p {
  font-family: 'Bookk Myungjo', serif;
  font-size: 28px;
  color: #333;
  line-height: 1.5;
  margin: 0;
  top: -230px;
  left: 200px;
  position: relative;
}


.founder button {
  display: block;
  margin-top: 20px;
  font-size: 18px;
  padding: 10px 60px;
  cursor: pointer;
  border-radius: 30px;
  border: 2px solid #000;
  background-color: transparent;

  color: #000;
  transition: background-color 0.3s, color 0.3s;
  position: relative;
  top: -220px;
  left: 800px;
}

.founder button:hover {
  background-color: #000;
  color: #fff;

}





.ethics,
.accuse,
.contact {
  height: 80px;
  padding: 10px;
  max-width: 1440px;
  margin: 0 auto 20px;

  box-sizing: border-box;
  text-align: center;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;

}


.ethics {
  position: relative;

  border-bottom: 2px solid #8685858e;

  position: relative;
}

.ethics::before {
  content: '';
  position: absolute;
  top: -18px;

  left: 0;
  width: 100%;
  height: 2px;
  background-color: #0000008c;

}

.ethics h2 {
  position: relative;
  left: -660px;
  top: 10px;
  font-size: 26px;
  font-weight: 700;
}

.accuse h2 {
  position: relative;
  left: -660px;
  top: 10px;
  font-size: 26px;
  font-weight: 700;
}

.contact h2 {
  position: relative;
  left: -660px;
  top: 10px;
  font-size: 26px;
  font-weight: 700;
}

.ethics p {
  font-size: 18px;
  font-weight: 600;
  top: -30px;
  position: relative;
  line-height: 28px;
  color: #000000;
}


.accuse p {
  font-size: 18px;
  font-weight: 600;
  top: -30px;
  position: relative;
  line-height: 28px;
  color: #000000;
}

.contact p {
  font-size: 18px;
  font-weight: 600;
  top: -30px;
  position: relative;
  line-height: 28px;
  color: #000000;
}



.accuse {
  border-bottom: 2px solid #8685858e;
}


.contact {
  border-bottom: 2px solid #8685858e;
  margin-bottom: 100px;
}


.container h2 {
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 15px;
  color: #333;
}

.container p {
  font-size: 16px;
  line-height: 1.5;
  color: #666;
  margin-bottom: 0;
}



.footer {
  background-color: #ffffff;

  color: #fff;
  font-family: 'Noto Sans KR', sans-serif;
  width: 100%;
}

.footer-container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 40px 20px;
  box-sizing: border-box;
}


.footer-top {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-bottom: 20px;
  margin-bottom: 20px;
}

.footer-logo img {
  height: 40px;

  position: relative;
  left: 60px;
}


.footer-links {
  display: flex;
  gap: 30px;
  list-style: none;
  margin: 0;
  padding: 0;
  left: -1080px;
  position: relative;
  top: 45px;
  font-weight: 700;

}

.footer-links li a {
  color: #000000;
  text-decoration: none;
  font-size: 14px;
  position: relative;
  left: 60px;
}

.footer-links li a:hover {
  text-decoration: underline;
}


.footer-info {
  font-size: 12px;
  line-height: 1.5;
  color: #ccc;
  text-align: left;
  position: relative;
  left: 60px;
}

.footer-info p {
  margin: 5px 0;
  color: #1d1d1dda;
  font-size: 16px;

  position: relative;
  top: 30px;
}

.footer-info p:last-child {
  margin-top: 20px;
  margin-bottom: 0;
  font-size: 14px;
}


.family-btn {
  font-size: 16px;
  background-color: #D7D6D6;
  width: 180px;
  height: 40px;
  border-radius: 30px;
  border: none;
  position: relative;
  cursor: pointer;
  top: -170px;
  left: 1000px;

}


.family-btn::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 15px; 
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #000; 
  


}
